[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/sethmacleod/dimension.git
[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/vickylai/hugo-theme-sam.git
